@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-300
  }
  .custom-container {
    @apply max-w-[770px] mx-auto pb-40 min-h-screen px-5 bg-zinc-200 shadow-lg
  }
}

@layer utilities {
  .no-scrollbar {
     &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    @apply w-2 lg:w-2.5 fixed
  }

  ::-webkit-scrollbar-track {
    @apply bg-zinc-300
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-400 rounded-lg
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(16px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOutDown {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(16px);
    }
  }

  .animate-fadeInUp {
    animation: fadeInUp 0.3s ease-out forwards;
  }

  .animate-fadeOutDown {
    animation: fadeOutDown 0.3s ease-out forwards;
  }
}
